In [70]:
import pandas as pd
import sqlite3
from os import path

In [71]:
connection = sqlite3.connect('/Users/WN/Desktop/Flatiron/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite')

In [72]:
invoice_df = pd.read_sql('SELECT * FROM Invoice', connection)

customer_df = pd.read_sql('SELECT * FROM Customer', connection)

invoiceline_df = pd.read_sql('SELECT * FROM InvoiceLine', connection)

track_df = pd.read_sql('SELECT * FROM Track', connection)

album_df = pd.read_sql('SELECT * FROM Album', connection)

In [73]:
customer_invoice = pd.merge(customer_df, invoice_df)

customer_invoice = customer_invoice[['CustomerId', 'FirstName', 'LastName', 'InvoiceId']]

all_df = pd.merge(customer_invoice, invoiceline_df, left_on='InvoiceId', right_on='InvoiceId')

all_df = pd.merge(all_df, track_df, left_on='TrackId', right_on='TrackId')

all_df = pd.merge(all_df, album_df, left_on='AlbumId', right_on='AlbumId')

In [81]:
all_df = all_df[['LastName', 'FirstName', 'Name', 'Title']]

all_df.sort_values(by=['LastName', 'FirstName']).reset_index().head()

   index LastName FirstName                     Name                Title
0     52  Almeida   Roberto  Right Next Door to Hell  Use Your Illusion I
1     84  Almeida   Roberto             Mateus Enter       Afrociberdelia
2     85  Almeida   Roberto            Samba Do Lado       Afrociberdelia
3     87  Almeida   Roberto    Um Satélite Na Cabeça       Afrociberdelia
4     88  Almeida   Roberto            Amor De Muito       Afrociberdelia